:root{
    --primari-text-color: #000;
    --primari-white-color: #fff;
    --primari-bg-color-nav: #F1733C;
    --info-color:#7D7A74;
    --header-color:#437EF7;
    --footer-color:#1997FE;
}
body{
    margin: 0;
    background-color: var(--primari-white-collor);
    color: var(--primari-text-collor);

    font-family:Poppins, sans-serif;
}

ul{
    list-style: none;
}

.page-hader{
    background-color: #437EF7;
}

.container{
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 1920px;
    outline: 2px solid firebrick;
}

.logo{
    width: 169px;
    height: 142px;
}

.site-nav .link-current{
    color: #eb0808;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;
    text-decoration: none;
}

.site-nav .link{
    color: var(--primari-text-collor) ;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;
    text-decoration: none;
}

.site-nav .link:hover,.site-nav .link:focus{
    color: var(--primari-white-color);
}

.auto-nav .button{
    display: inline-block;
    border-radius: 10px;
    padding: 10px 30px;
    height: 44px;


    color: var(--primari-text-color);
    background-color: var(--primari-bg-color-nav);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
}

.auto-nav .button:focus, .auto-nav .button:hover{
    color: var(--primari-white-color);
}

.main-logo{
    text-align: center;
}

.info-zanami{
    color: var(--primari-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}

.telegram-info{
    width: 50px;
    height: 47px;

}

.vk-info{
    width: 50px;
    height: 50px;
}

.page-footer .info-z{
    color: var(--info-color);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.53;
}

.contact{
    color: var(--primari-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}

.adress{
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.53;
}

.adress .Email-contact{
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.53;
    text-decoration: none;
}

.adress .Telefon-contact{
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.53;
    text-decoration: none;
}

.adress .Email-contact:hover, .adress .Email-contact:focus{
    color: var(--primari-text-color);
}

.adress .Telefon-contact:hover,.adress .Telefon-contact:focus{
    color: var(--primari-text-color)
}

.auto-nav .button-reg{
    color: #eb0808;
    background-color: var(--primari-bg-color-nav);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
}

.site-nav-registracia{
    text-align: center;

}

.registracia{
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
}

.info-reg{
    font-weight: 400;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.button-reg-a{
    font-weight: 400; 
    font-size: 48px;
    color: rgba(0, 0, 0, 0.8);
    background-color: var(--header-color);
    text-align: center;
}

.button-reg-a:hover, .button-reg-a:focus{
    color: var(--primari-white-color);
}

.avatar-logo{
    display: inline-block;

}

.logo-reg{
    text-align: center;
}

.button-vhod{
    color: #eb0808;
    background-color: var(--primari-bg-color-nav);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
}

.site-nav-vhod{
    text-align: center;
}

.vhod-h{
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}
