body{
    background-color: #fff;
    color: black;
}
/* #437EF7 */
/* #1997FE */
/* #7D7A74 */

ul{
    list-style: none;
}

.site-nav .link{
    color: black;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:#1997FE ;
}
.page-footer .info-z{
    color:#7D7A74;
}